body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

p {
    text-align: justify;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section1 {
    background-color: rgb(150, 9, 9);
    box-sizing: border-box;
    position: relative;
    margin: 2% 1% 2% 1%;
    padding: 2%;
    height: auto;
}

.section2 {
    background-color: rgb(14, 151, 14);
    box-sizing: border-box;
    position: relative;
    margin: 2% 1% 2% 1%;
    padding: 2%;
    height: auto;
}

.section3 {
    background-color: rgb(167, 24, 167);
    box-sizing: border-box;
    position: relative;
    margin: 2% 1% 2% 1%;
    padding: 2%;
    height: auto;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    /* position: absolute; */
    text-align: center;
}

#nav-list li {
    text-align: center;
    /* margin: 0 auto; */
    padding: 1.5%;
    /* font-size: 1vw; */
    font-family: 'Oxygen', sans-serif;
}
#nav-list li {
    background-color: #f6b419cc;
    /* width: 100%; */
    border: solid black 1px;
}

#nav-list li:hover {
    background-color: #e9d4a4;
}

.backtotop {
    border-radius: 9px;
    border: none;
    background-color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
    
}
.backtotop a {
    text-decoration: none;
    color:black;
}
.backtotop:hover, a:hover {
    background-color: rgb(44, 44, 44);
    color:white;
}

.navbutton {
    width: 100%;
    text-decoration: none;
    color:black;
}

/* For desktop */
@media (min-width: 992px) {
    .section1 {
        color: white;
        float: left;
        width: 31%;
        border: 1px solid black;
    }

    .section2 {
        color: white;
        float: left;
        width: 31%;
        border: 1px solid black;
    }

    .section3 {
        color: white;
        float: left;
        width: 31%;
        border: 1px solid black;
    }
}

/* For tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .section1 {
        color: white;
        float: left;
        width: 48%;
        border: 1px solid black;
    }

    .section2 {
        color: white;
        float: left;
        width: 48%;
        border: 1px solid black;
    }

    .section3 {
        color: white;
        clear: left;
        width: 98%;
        border: 1px solid black;
    }
}

/* For mobile */
@media (max-width: 767px) {
    .section1 {
        color: white;
        float: left;
        width: 96%;
        border: 1px solid black;
    }

    .section2 {
        color: white;
        float: left;
        clear:left;
        width: 96%;
        border: 1px solid black;
    }

    .section3 {
        color: white;
        float: left;
        clear:left;
        width: 96%;
        border: 1px solid black;
    }
}